body
{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    text-align: center;
    color: springgreen;
    width: 100%;
    margin-top: 1px;
    background-color: transparent;
    box-shadow: 2px 2px 2px  snow;
    letter-spacing: 2px;
    font-style: italic;
}

.note
{
    font-size: 15px;
    color: snow;
    letter-spacing: 2px;
    font-style: italic;
}

.div_speed
{
    float: left;
}
.div_speed_img
{
    width: 200px;
    border-radius: 100px;
}
#speed
{
    font-size: 20px;
    font-weight: 300px;
    letter-spacing: 2px;
    font-style: italic;
    background-color: springgreen;
}

.div_volume
{
    float: right;
}
.div_volume_img
{
    width: 200px;
    border-radius: 100px;
}
#volume
{
    font-size: 20px;
    font-weight: 300px;
    letter-spacing: 2px;
    font-style: italic;
    background-color: springgreen;
}

.play_button
{
    width: 130px;
    font-size: 23px;
}

canvas
{
    border: 5px solid snow;
    border-radius: 20px;
}